<h1>Listing messages</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Body</th>
    <th>Order</th>
    <th>IsReturn</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.from.name if message.from %></td>
    <td><%= message.to.name if message.to %></td>
    <td><%= message.body %></td>
    <td><%= message.order %></td>
    <td><%= message.is_return %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
