<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @message.from_id %>
</p>

<p>
  <b>To:</b>
  <%= @message.to_id %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<p>
  <b>Order:</b>
  <%= @message.order %>
</p>

<p>
  <b>IsReturn:</b>
  <%= @message.is_return %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
