<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @instance.name %>
</p>

<p>
  <b>Order:</b>
  <%= @instance.order %>
</p>


<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %>
